@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bakalarska_prace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bakalarska_prace.styles.css" asp-append-version="true" />
    <link href="~/css/bar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body id="body-pd">
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    
                    <img src="~/image/autosalon-logo-png-transparent.png"
                    class="img-fluid" alt="Sample image"/>
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form asp-action="Login" method="post">

                        <!-- UserName input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Username" type="text" id="form3Example3" class="form-control form-control-lg"
                                   placeholder="Enter a UserName" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                            <label class="form-label" for="form3Example3">User Name</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input asp-for="Password" type="password" id="form3Example4" class="form-control form-control-lg"
                                   placeholder="Enter password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Login
                            </button>
                            
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bar.js"></script>
</body>
</html>
