@model Files
@{
    ViewData["Title"] = "Upload Files";
    ViewBag.Akce = "Upload";
}

<div class="text-center">
    <div class="element">
        <h1>@ViewData["Title"]</h1>

    </div>
</div>
<div>
    <partial name="CreateEditSelectForms" model="Model" />
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FileValidationScript.js"></script>
}
